/* ===== Reset ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #11071F;
    color: #f0f0f0;
    line-height: 1.6;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #231a31ce;
    border-bottom: 1px solid #b766d938;
    color: #fff;
    padding: 20px;
    z-index: 1000;
}

header label {
    display: none;
}

header a {
    text-decoration: none;
    color: #d565ee;
    font-weight: bold;
}

header span {
    font-size: 1.5rem;
}


header p {
    font-size: 1.1rem;
    margin-top: 5px;

}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-mobile {
    display: none;
}

nav a:hover {
    color: #d565ee;
}


section {
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
}

#sobre {
    margin-top: 4.5rem;
}

.sobre-texto {
    text-align: center;
    margin-top: 115px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.sobre-texto span {
    color: #d565ee;
}

.eu-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.eu-img img {
    margin-top: 90px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 0px 69px -13px rgba(168, 42, 241, 0.705);
    border: 1px solid #69358C;
}

.eu-img h1 {
    margin-top: 20px;
    font-size: 45px;
    color: #69358C;
}

.eu-img p {
    font-size: 18px;
}

.sobre-texto {
    text-align: justify;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: linear-gradient(0deg,rgba(9, 2, 15, 1) 0%, rgb(38, 5, 70) 100%);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.466);
    transition: transform 0.4s;
    cursor: pointer;
}

.btn-github {
    padding: 15px 25px;
    background-color: #69358C;
    text-decoration: none;
    border-radius: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.btn-github:hover {
    background-color: #B666D9;
    transform: scale(1.05);
}

#projetos img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 13px 9px rgba(195, 0, 255, 0.39);
    box-shadow: 0px 0px 13px 9px rgba(205, 4, 255, 0.363);
    border: 1px solid #ffffff7c;
    transform: scale(1.1);
}

.card h3 {
    color: #d565ee;
    margin-bottom: 10px;
}

#contato p {
    margin-bottom: 1rem;
}

#contato p a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #B666D9;
    transition: 0.5s;
}

#contato a:hover {
    color: #fff;
}

footer {
    background-color: #11071F;
    border-top: 1px solid #69358C;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #00adb5;
    margin: 0 10px;
    text-decoration: none;
}

#check:checked~.nav-mobile {
    display: block;
}

/* ===== Responsividade ===== */
@media (max-width: 768px) {

    header h1 {
        font-size: 1.5rem;
    }

    .nav-desktop {
        display: none;
    }

    .checkbtn {
        display: block;
        align-self: center;
        font-size: 1.5rem;
    }

    .nav-mobile {
        position: absolute;
        top: 5.7rem;
        left: 50%;
        background: #222831;
        z-index: 1;
        width: 200px;
    }

    .nav-mobile a {
        color: #fff;
        padding: 1rem 1.5rem;
        display: block;
    }

    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .eu-img {
        text-align: center;
    }

    .eu-img img {
        width: 280px;
        height: 280px;
        border-radius: 50%;
        object-fit: cover;
    }

}